<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置头像</title>
    <style>
        #image{
            width: 300px;
            height: 300px;
        }
        .img-container {
            width: 500px;
            height: 500px;
            float:left;
        }
        .img-preview {
            float: left;
            overflow: hidden;
            margin-left: 20px;
        }
        .preview-lg {
            width: 240px;
            height: 240px;
        }
        .preview-md {
            width: 80px;
            height: 80px;
        }
    </style>
</head>
<body>
    <?php view('common.nav') ?>
    <h1>设置头像</h1>
    <form action="/user/uploadAlbums" method="post" enctype="multipart/form-data">

        <div>
           头像:
            <br>
            <input type="file" name="images[]"><br>
            <input type="file" name="images[]"><br>
            <input type="file" name="images[]"><br>
            <input type="file" name="images[]"><br>
            <input type="file" name="images[]">
        </div>
        <div>
            <input type="submit" value="上传">
        </div>

    </form>
    <div style="clear: both;"></div>
    <?php view('common.footer') ?>
</body>
</html>

